.bodysection{

    

    overflow: hidden;
    margin-top:0px;
   
width: 80vw;
margin-left:auto;
margin-right:auto;
background:#F7F8DF;




}

.bodysection_coffee{

    width: 80vw;

 display:flex;
 justify-content: space-between;
   
}



@media (max-width:600px)
{
    .bodysection{
        width:100vw;
       margin-top:90px;
       
       margin-right:5px;
        margin-right:0px;

    }

  


    .bodysection_coffee{
        width:100vw;
    }

    


}

